<!DOCTYPE html>
<html>
  <head>
    <title>Graduate Management Admission Council (GMAC)</title>

    <!-- Salesforce Embedded Log In External Files -->
    <link href="<%= community_url%>/servlet/servlet.loginwidgetcontroller?type=css" rel="stylesheet" type="text/css" />
    <script src="<%= community_url%>/servlet/servlet.loginwidgetcontroller?type=javascript_widget" async defer ></script>

      <!-- Salesforce Embedded Log In Config -->
    <meta name="salesforce-community" content="<%= community_url%>">
    <meta name="salesforce-client-id" content="<%= consumer_key%>">
    <meta name="salesforce-redirect-uri" content="<%= callback_url%>">
    <meta name="salesforce-forgot-password-enabled" content="true">
    <meta name="salesforce-logout-on-browser-close" content="true">
    <meta name="salesforce-save-access-token" content="true">
    <meta name="salesforce-self-register-starturl-enabled" content="true">
    <meta name="salesforce-namespace" content="">

    <!-- Salesforce Embedded Log In Custom Config -->
    <meta name="salesforce-mode" content="modal">
    <meta name="salesforce-self-register-enabled" content="true">
    <meta name="salesforce-target" content="#salesforce-login">

    <!-- Salesforce Embedded Log In Server Side -->
    <meta name="salesforce-server-callback" content="true">
    <meta name="salesforce-mask-redirects" content="false">

    <!-- Salesforce Embedded Log In JavaScript Handlers -->
    <meta name="salesforce-login-handler" content="onLogin">
    <meta name="salesforce-logout-handler" content="onLogout">


    <!-- Other Demo Support Content -->
    <link rel="stylesheet" href="/style.css" type="text/css" /> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://extjs.cachefly.net/ext/gpl/4.2.1/resources/ext-theme-classic/ext-theme-classic-all.css" rel="stylesheet" type="text/css" />
    <script src="/helper.js"></script>

</head>
<body>
    <div class="index-container" style="background-image: url('<%= background%>');">
        <div id="menu"></div>
        <div style="display: none;" id="salesforce-login"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        $("#sfid-logo_wrapper > img").src = "https://cdn.onlinewebfonts.com/svg/img_221760.png";
    </script>

    <script src="/extjs/ext-all.js"></script>
    <script src="/extjs/dlg/GMACLoginDialog.js"></script>

    <script>
        Ext.Loader.setConfig({enabled: true});
        Ext.Loader.setPath('GMAC', '/extjs');
        Ext.require(['GMAC.view.*']);

        Ext.onReady(function() {

            Ext.defer(function() {
                new Ext.Button({
                    renderTo: 'menu',
                    text: 'Demo Options',
                    menu: {
                        items: [
                            {
                                text: 'Embedded Login (widget)',
                                plain: true,
                                handler: function () {
                                    SFIDWidget.login();
                                }
                            },
                            {
                                text: 'Frontdoor Login (custom ux)',
                                plain: true,
                                handler: function () {
                                    window.dlg = Ext.create("GMAC.view.LoginRegistrationDialog");
                                    dlg.show();
                                    window.cards = Ext.getCmp("wfLoginDlgCards").layout;
                                }
                            },
                            {
                                text: 'API Client/OAuth (jsforce)',
                                plain: true,
                                handler: function () {
                                    jsforce.browser.login();
                                }
                            },
                            {
                                text: 'Coffee Fix Demo Site',
                                plain: true,
                                handler: function () {
                                    window.open('https://fixcoffeestore.herokuapp.com','coffeefix')
                                }
                            },
                            {
                                text: 'GMAC Identity Portal',
                                plain: true,
                                handler: function () {
                                    window.open('<%= community_url%>/0055e000001gIxmAAE','gmacorg')
                                }
                            },
                            {
                                text: 'Identity Dev Guide',
                                plain: true,
                                handler: function () {
                                    window.open('https://developer.salesforce.com/docs/atlas.en-us.externalidentityImplGuide.meta/externalidentityImplGuide/external_identity_intro.htm','identitydev')
                                }
                            },
                            {
                                text: 'SCIM API Guide',
                                plain: true,
                                handler: function () {
                                    window.open('https://help.salesforce.com/articleView?id=sf.identity_scim_overview.htm','scimdev')
                                }
                            },
                            {
                                text: 'Logout (reset)',
                                plain: true,
                                handler: function () {
                                    if( Ext ) {
                                        Ext.util.Cookies.clear('accessToken');
                                        Ext.util.Cookies.clear('instanceUrl');
                                        Ext.util.Cookies.clear('identity');
                                    }
                                    window.location="/logout"
                                }
                            }]
                    }
                });

                const access_token = Ext.util.Cookies.get('accessToken');
                if( access_token ) {
                    const instance_url = Ext.util.Cookies.get('instanceUrl');
                    $sfapi = new jsforce.Connection({'accessToken': access_token, 'instanceUrl': instance_url});
                }
            }, 1);
        }); //end Ext.onReady()
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jsforce/1.9.1/jsforce.min.js"></script>
    <script>
        jsforce.browser.init({
            clientId: "<%= consumer_key%>",
            redirectUri: "<%= callback_url%>",
            loginUrl : "<%= community_url%>"
        });

        jsforce.browser.on('connect', function(conn) {
            Ext.util.Cookies.set('accessToken');
            Ext.util.Cookies.set('instanceURL');
            try
            {
                conn.query( 'SELECT Id, FirstName, LastName, Account.Name FROM Contact', function (err, res)
                {
                    if ( err )
                    {
                        return console.error( err );
                    }
                    console.log( res );
                } );
            } catch( err )
            {
                console.error(err);
            }
        });

    </script>
</body>
</html>
